<div id="<%= dom_id(comment) %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Commentable type:</strong>
    <%= comment.commentable_type %>
  </p>

<!--
  <p>
    <strong>Expense:</strong>
    <%= comment.expense_id %>
  </p>
-->
</div>
