<%# <h1>New expense</h1> %>
  <link rel="stylesheet" href="styles.css"> <!-- Link to the styles.css file -->

<div class="navbar"> <!-- Use the new CSS class for the navbar -->
    <a href="#">New Expense</a>
  </div>

<%= render "form", expense: @expense %>

<br>

<div>
  <%= link_to "Back to expenses", expenses_path %>
</div>
